* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ul li {
    list-style: none;
  }
  
  li {
    list-style: none;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 1920px;
    width: 100%;
    padding: 0 0;
    margin: 0 auto;
  
  }
  
  .section {
    max-width: 1720px;
    width: 100%;
    padding: 0 100px;
    margin: 0 auto
  }
  
  .aside-tshirt {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .about-product{
    display: flex;
    gap: 20px;
  }
  
  
  .product-section {
    display: flex;
    gap: 50px;
  
  }
  
  .prices-products {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  
  .rate_us {
    display: flex;
    gap: 20px;
  }
  
  .star {
    display: flex;
    gap: 16px;
  
  }
  
  .offer_price {
    color: grey;
    text-decoration: line-through;
  }
  
  .offer-percentage {
    padding: 2px 0 0;
    max-width: 72px;
    height: 34px;
    border: 1px solid white;
    background-color: #FF33331A;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    color: red;
  }
  
  .about_tshirt_text {
    size: 16px;
  }
  
  .various_size {
    display: flex;
    gap: 16px;
    text-align: center;
    align-items: center;
    padding: 8px 0;
  }
  
  .small {
    width: 86px;
    height: 46px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 62px;
  }
  
  .medium {
    width: 86px;
    height: 46px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 62px;
  }
  
  .large {
    width: 86px;
    height: 46px;
    border: 1px solid grey;
    background-color: black;
    color: white;
    border-radius: 62px;
  }
  
  .x-large {
    width: 86px;
    height: 46px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 62px;
  }
  
  .cart-section {
    display: flex;
    gap: 25px;
    padding: 20px 0;
  }
  
  .contity {
    width: 170px;
    height: 52px;
    background-color: grey;
    border-radius: 62px;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  .cart_add {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 62px;
  }
  .right-side-product{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
   
  .color-btn1{
    width: 37px;
    height: 37px;
    border-radius:50% ;
    background-color:  #4F4631;
   }
   .color-btn2{
    width: 37px;
    height: 37px;
    border-radius:50% ;
    background-color:  #314F4A; 
   }
   .color-btn3{
    width: 37px;
    height: 37px;
    border-radius:50% ;
    background-color:#31344F;
   }
   .chhose_color{
    display: flex;
    gap: 16px;
   }

   .size{
    padding: 10px 0;
   }

   .color-btn1::after{
    
   }