.selling_section {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.top_selling_section {
    display: flex;
    justify-content: center;
    padding: 66px 55px;
}

.selling_section img {
    border-radius: 20px;
}


@media(max-width:768px){

    .top_selling_section {
        display: flex;
        justify-content: center;
        padding: 50px 55px;
    }

    .selling_section {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .common_card_section :first-child{
        max-width: 268px;
        width: 100%;
        height: 298px;
    }
    
}


@media(max-width:425px) {
    .selling_section {
        display: flex;
        flex-direction: row;
        overflow: auto;

    }
}

@media(max-width:375px) {

    .top_selling_section {
        display: flex;
        justify-content: center;
        padding: 30px 55px;
    }




}


@media(max-width:320px) {

    .top_selling_section {
        display: flex;
        justify-content: center;
        padding: 20px 30px;
    }
}