* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

li {
    list-style: none;
}

li {
    list-style: none;
}

:root {
    --h_primary_blue_color: #000000;
    --h_secondary_orange_color: #ffffff;
    --white_dark_color: #c6c2c2;

}

body {
    font-family: 'Integral CF';
    font-family: 'Satoshi';
}

.container {
    max-width: 1920px;
    width: 100%;
    padding: 0 0;
    margin: 0 auto;

}

.section {
    max-width: 1720px;
    width: 100%;
    padding: 0 100px;
    margin: 0 auto
}

/*common classes */


.h_primary {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;

}


.h_secondary {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

}

.h_heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}

.h_sm_heading {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.h_sm_prime {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.h_mm_heading {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.h_ss_heading {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}


  /* hero main section common css */

.m_primary_heading{
    font-family: Integral CF;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0em;
text-align: center;

}

.m_secondary_heading{
    font-family: Satoshi;
font-size: 36px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0em;
text-align: left;

}











/* header section start */
.sign_up {
    color: var(--h_secondary_orange_color);
}

.header_top_section {
    display: flex;
    justify-content: center;
    background-color: var(--h_primary_blue_color);
    color: var(--h_secondary_orange_color);
    padding: 9px;
    color: var(--white_dark_color);
}

/* header menu section */
.toggle_button {
    display: none;
}

.menu_search_icon {
    display: none;
}

.header_menu_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.header_menu_item {
    display: flex;
    gap: 24px;
}

.header_input_section {
    display: flex;
    align-items: center;
    background: #F0F0F0;
    padding: 12px 16px;
    border-radius: 62px;
    max-width: 577px;
    width: 100%;
    gap: 12px;
}

.header_input_section input {
    border: none;
    outline: none;
    background-color: #F0F0F0;
}

.header_icon {
    display: flex;
    gap: 14px;
}

/* hero section */

.hero_back_section {
    background-color: #F0F0F0;
}

.hero_section {
    display: flex;
    padding: 151px 0;
    justify-content: space-between;
}

.hero_text_section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 577px;
    width: 100%;
}

.hero_button {
    max-width: 210px;
    width: 100%;
    padding: 16px 54px;
    border-radius: 62px;
    text-align: center;
    color: var(--h_secondary_orange_color);
    background-color: var(--h_primary_blue_color);
}


.vl {
    border: 1px solid #0000001A;
    width: 1px;
}

.hero_sub_section {
    display: flex;
    gap: 32px;
    padding: 32px 0 0 0;
}

/* company back section */
.company_back_section {
    background-color: #000000;
    display: flex;
}

.company_name_section {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}


/* browse section start */

.browse_section{       
    border-radius: 40px;
    margin: 0 0 100px 0;
    background: #F0F0F0;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 35px;
}
 

.browse_img{
    position: relative;
    border-radius: 20px;
}

.browse_heading{
    position: absolute;
    z-index: 1;
    padding: 36px 25px;
}

.formal_heading{
    position: absolute;
}
 .browser_card_section{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
 }
 
 

 






@media(max-width:567px) {
    .section{         
        padding: 0 20px;
        margin: 0 auto
    }

    .h_primary {
        font-size: 36px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;

    }

    .h_secondary {
        font-family: Satoshi;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;

    }

    .h_heading {
        font-family: Integral CF;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;

    }

    .h_sm_heading {
        font-family: Satoshi;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;


    }

    .h_sm_prime {
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;


    }

    .h_mm_heading {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    .h_ss_heading {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    
  /* hero main section common css */

.m_primary_heading{    
font-size: 32px;

}

.m_secondary_heading{     
font-size: 24px;

}

    /* header section start */
    .toggle_button {
        display: block;
    }

    .menu_search_icon {
        display: block;
    }

    .header_menu_item {
        display: none;
    }

    .header_input_section {
        display: none;
    }



    /* hero section and menu section*/
    .toggle_bar {
        display: flex;
        gap: 10px;
    }

    .header_menu_section {
        display: flex;
    }

    .hero_img {
        max-width: 390px;
        width: 100%;
    }

    .hero_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 50px 0;
    }

    .hero_button {
        text-align: center;
        max-width: 358px;
        width: 100%;
    }

    .hero_main_heading {
        max-width: 315px;
        width: 100%;
    }

    .hero_main_text {
        max-width: 380px;
        width: 100%;
    }

    .hero_sub_section {
        display: grid;
        grid-template-rows: auto auto;
    }

    .price_text {
        display: grid;
        grid-column: 1/4;
        justify-content: center;
    }


    /* company section */

    .company_name_section {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        row-gap: 15px;
    }

    .company_name_section img {
        max-width: 116px;
        width: 100%;
        height: 26px;
    }

    .browse_img{
        max-width: 310px;
        width: 100%;
        height: 190px;
    }

.browse_section{
    padding: 50px 0 50px;
}

 

 




}